body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 75, 163, 1) 50%,
    rgba(226, 0, 255, 1) 100%
  );
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
}

.rules {
  font-family: sans-serif;
  font-size: 1.1rem;
}
